{% extends "base.html" %}
{% block content %}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>About the Club</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <section class="why_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  What the Club Does
               </h2>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                        <img src="/static/images/meetings.png">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Meetings
                        </h5>
                        <p>
                           variations of passages of Lorem Ipsum available
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                        <img src="/static/images/events.png">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Events
                        </h5>
                        <p>
                           variations of passages of Lorem Ipsum available
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                        <img src="/static/images/training.png">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Training
                        </h5>
                        <p>
                           variations of passages of Lorem Ipsum available
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end why section -->
      <!-- arrival section -->
      <section class="arrival_section">
         <div class="container">
            <div class="box">
               <div class="arrival_bg_box">
                  <img src="/static/images/arrival-bg.png" alt="">
               </div>
               <div class="row">
                  <div class="col-md-6 ml-auto">
                     <div class="heading_container remove_line_bt">
                        <h2>
                           About BSARS
                        </h2>
                     </div>
                     <p style="margin-top: 20px;margin-bottom: 30px;">
                        This text is our chance to attract new membership.
                        Keep it light and welcoming.
                     </p>
                     <a href="">
                     Shop Now
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end arrival section -->
{% endblock %}